body {
	background-color: rgba(219,179,192,1);
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
}
/* Don't forget to list all the other browsers!!!*/
.top_section {
	background-color: rgba(0,0,0,1);
	top: 0px;
}

.header {
	border-radius: 100px 50px 100px 50px;
	background-image: url("https://m.media-amazon.com/images/S/aplus-seller-content-images-us-east-1/ATVPDKIKX0DER/A3TZGH522SVGK2/B01JSQEY9E/7FdEKZeRAaO._UX906_TTW__.jpg");
	background-color: rgba(0,0,0,1);
	background-repeat: no-repeat;
	background-position: center;
	top: 0px;
	height: 400px;
	width: 900px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	background-color: rgba(219,179,192,.6);
	color: rgba(165,13,13,1);
	font-size: 70px;
	font-family: 'Satisfy', cursive;
	padding: 60px 0 0 0;
	border-radius: 60%;
	width: 350px;
	margin: 0 auto;
}

.menu {
	display: table;
	/*position: relative;*/
	top: 400px;
	margin: 0 auto;
}

li {
	display: inline;
	padding: 40px;
	
}

h2 {
	font-size: 40px;
	margin: 100px 0 0 0;
}		

.chicken {
	top: 500px;
}

.chicken_img {
	float: right;
}

.pesto {
	padding: 0 0 100px 0;
}

.pesto_img {
	float: left;
}

.gorg {
	padding: 0 0 100px 0;
}

.gorg_img {
	float: right;
}

img {
	object-fit: cover;
	width: 400px;
	height: 400px;
	border-radius: 100%;
	border: solid white 7px;
}